<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.everything">

    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".toolbar.LearnToolbarActivity"/>

        <activity android:name=".toolbar.SimpleToolbarActivity"/>

        <activity android:name=".toolbar.MenuToolbarActivity"/>

        <activity android:name=".toolbar.BottomToolbarActivity"/>

        <activity android:name=".toolbar.LogoToolbarActivity"/>

        <activity
            android:name=".toolbar.UpToolbarActivity"
            android:parentActivityName=".toolbar.LearnToolbarActivity"/>
        <activity android:name=".toolbar.ShareToolbarActivity"/>
        <activity android:name=".toolbar.SearchToolbarActivity"/>
        <activity android:name=".kodein.LearnKodeinActivity"/>
        <activity android:name=".list.LearnListActivity"/>
        <activity android:name=".list._01_simple.SimpleListActivity"/>
        <activity android:name=".list._02_list_differ_fail.ListDifferFailActivity"/>
        <activity android:name=".list._03_list_differ.ListDifferActivity"/>
        <activity android:name=".list._04_simple_base.SimpleBaseActivity"/>
        <activity android:name=".list._05_binder.BinderActivity"/>
        <activity android:name=".list._06_layout_container.LayoutContainerActivity"/>
        <activity android:name=".list._07_listener_fail.ListenerFailActivity"/>
        <activity android:name=".list._08_on_create.OnCreateActivity"/>
        <activity android:name=".list._09_multi_view.MultiViewActivity"/>
        <activity android:name=".list._10_diff_callback.DiffCallbackActivity"/>
        <activity android:name=".list._11_final.FinalActivity"/>
        <activity android:name=".activity_result.LearnActivityResultActivity"/>
        <activity
            android:name=".camerax._01_official_sample.OfficialSample"
            android:clearTaskOnLaunch="true"
            android:rotationAnimation="seamless"
            android:screenOrientation="fullUser"
            android:theme="@style/AppTheme">
            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".camerax.LearnCameraXActivity"/>

    </application>
</manifest>